.image-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-position: right center;
    background-image: linear-gradient(
    
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.7)
  ), url("../../../assets/labGirl.jpg");
  background-size:cover;
  position: relative;
  overflow: hidden;
  }
  
  .text-container {
  max-width: 90%;
    text-align: center;
    position: relative; 
    
  }

  .revealText {
     color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold; 
    white-space: normal !important;
  }

  .revealText::first-letter{
    font-size: 300%;
  }
  